
/* Classes: container, card, card_container, profile_picture
employee_information, name, email, city
*/

/*IDs: PopUp, close, modal_picture, modal_name, modal_email, modal_cellphone
modalAddress, modal_birthdate
*/


* {
  box-sizing: border-box;
}

body {
  font-family:
              -apple-system,
              BlinkMacSystemFont,
              "Segoe UI",
              Roboto,
              Helvetica,
              Arial,
              sans-serif,
              "Apple Color Emoji",
              "Segoe UI Emoji",
              "Segoe UI Symbol";
  color: #242a2d;
  background: linear-gradient(180deg, #FFFFFF 0%, #DAEDFF 100%);
  height: 100vh;
}

h1 {
  margin-top: 20px;
  font-size: 42px;
  color: #242a2d;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 24px;
}

table {
  border-spacing: 16px;
}

img {
  border-radius: 50%;
  max-width: 100%;
}

li {
  list-style-type: none;
}

.container {
  width: auto;
  max-width: 1280px;
  padding: 24px;
  margin: auto;
}

.profile_picture {
  float: left;
  width: 30%;
}

.employee_information {
  float: right;
  width: 70%;
  margin: 8px 0;
  padding: 0;
  padding-left: 16px;
  line-height: 1.5em;
}

.name, #modal_name {
  font-size: 1.2em;
  font-weight: 550;
}

#modal_email {
}

.name, .email, .city, .nickname {
  max-width: 100%;
  display: block;
  text-align: left;
  flex-wrap: nowrap;
  overflow: hidden;
}

.email, .city, .nickname {
  opacity: .6;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.card {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  min-width: 386px;
  box-shadow: 0px 2px 4px rgba(181,181,181,0.24);
  transition: transform .2s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  margin: 15% auto;
  padding: 20px;
  width: 450px;
  height: 500px;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  min-width: 386px;
  box-shadow: 0px 2px 4px rgba(181,181,181,0.24);
}

button {
  background: #dadada;
  border: none;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

button:hover {
  cursor: pointer;
}

#close, #next, #before {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

#close {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptNC4xNTEgMTcuOTQzbC00LjE0My00LjEwMi00LjExNyA0LjE1OS0xLjgzMy0xLjgzMyA0LjEwNC00LjE1Ny00LjE2Mi00LjExOSAxLjgzMy0xLjgzMyA0LjE1NSA0LjEwMiA0LjEwNi00LjE2IDEuODQ5IDEuODQ5LTQuMSA0LjE0MSA0LjE1NyA0LjEwNC0xLjg0OSAxLjg0OXoiLz48L3N2Zz4=);
  float: right;
}

#next, #before {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptLTEuMjE4IDE5bC0xLjc4Mi0xLjc1IDUuMjUtNS4yNS01LjI1LTUuMjUgMS43ODItMS43NSA2Ljk2OCA3LTYuOTY4IDd6Ii8+PC9zdmc+);
}

#before {
  transform: rotate(180deg);
}

.modal_content ul {
  width: 100%;
  margin: auto;
  display: block;
  padding:0;
  padding-top: 20px;
  line-height: 30px;
  text-align: center;
}

#modal_city {
  border-bottom: solid 1px #dbdbdb;
  padding-bottom: 15px;
}

#modal_cellphone {
  padding-top: 15px;
}

#user_search {
  padding: 8px 16px;
  border: solid 1px #dbdbdb;
  border-radius: 8px;
  min-width: 250px;
  width: 100%;
  max-width: 1190px;
  margin: 0 16px;
  padding-left: 40px;
  background-color: #fff;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuODA5IDIxLjY0NmwtNi4yMDUtNi4yMDVjMS4xNjctMS42MDUgMS44NTctMy41NzkgMS44NTctNS43MTEgMC01LjM2NS00LjM2NS05LjczLTkuNzMxLTkuNzMtNS4zNjUgMC05LjczIDQuMzY1LTkuNzMgOS43MyAwIDUuMzY2IDQuMzY1IDkuNzMgOS43MyA5LjczIDIuMDM0IDAgMy45MjMtLjYyNyA1LjQ4Ny0xLjY5OGw2LjIzOCA2LjIzOCAyLjM1NC0yLjM1NHptLTIwLjk1NS0xMS45MTZjMC0zLjc5MiAzLjA4NS02Ljg3NyA2Ljg3Ny02Ljg3N3M2Ljg3NyAzLjA4NSA2Ljg3NyA2Ljg3Ny0zLjA4NSA2Ljg3Ny02Ljg3NyA2Ljg3N2MtMy43OTMgMC02Ljg3Ny0zLjA4NS02Ljg3Ny02Ljg3N3oiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 16px;
}

#user_search:focus {
  outline: none;
  border: 1px solid #039ab1;
}

#user_search::before {
}


/* Following the assignment's brief to "Add a hover state to the rows of the user table;"👇 */
tr:hover td {
 background-color: rgba(206, 206, 206, 0.27);
}
